<div class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2"><%= aluno.firstName  %> <%= aluno.lastName  %></h1>
  <div class="btn-toolbar mb-2 mb-md 0">
  </div>
</div>

<div class="col py-3">

  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Lista da Turma</a></li>
          <li class="breadcrumb-item active"><%= aluno.firstName  %></li>
        </ol>
      </nav>
    </div>
    <div class="col text-end fw-lighter">
      <b>Último Update: <%= new Date(aluno.updatedAt) %> </b>
      <br/>
      <b>ID do Usuário:</b> <%= aluno._id %>
    </div>
  </div>

</div>

<ul class="list-group py-5">

  <li class="list-group-item"> 
    <div class="row">
      <div class="col" style="max-width: 140px"> <b>Nome:</b></div>
      <div class="col"><%= aluno.firstName %> <%= aluno.lastName %></div>
    </div>
  </li>

  <li class="list-group-item"> 
    <div class="row">
      <div class="col" style="max-width: 140px"> <b>Matrícula:</b></div>
      <div class="col"><%= aluno.tel %></div>
    </div>
  </li>

  <li class="list-group-item"> 
    <div class="row">
      <div class="col" style="max-width: 140px"> <b>Email do Responsável:</b></div>
      <div class="col"><%= aluno.email %></div>
    </div>
  </li>

  <li class="list-group-item"> 
    <div class="row">
      <div class="col" style="max-width: 140px"> <b>Observação:</b></div>
      <div class="col"><%= aluno.details %></div>
    </div>
  </li>

  <li class="list-group-item"> 
    <div class="row">
      <div class="col" style="max-width: 140px"> <b>Criação:</b></div>
      <div class="col"><%= aluno.createdAt %></div>
    </div>
  </li>

  <li class="list-group-item"> 
    <div class="row">
      <div class="col" style="max-width: 140px"> <b>Última Modificação:</b></div>
      <div class="col"><%= aluno.updatedAt %></div>
    </div>
  </li>

  <li class="list-group-item"> 
    <div class="row">
      <div class="col" style="max-width: 140px"> <b>Faltas em Matemática:</b></div>
      <div class="col"><%= aluno.faltasMat %></div>
    </div>
  </li>

  <li class="list-group-item"> 
    <div class="row">
      <div class="col" style="max-width: 140px"> <b>Faltas em História:</b></div>
      <div class="col"><%= aluno.faltasHist %></div>
    </div>
  </li>

  <li class="list-group-item"> 
    <div class="row">
      <div class="col" style="max-width: 140px"> <b>Faltas em Português:</b></div>
      <div class="col"><%= aluno.faltasPort %></div>
    </div>
  </li>

  <li class="list-group-item"> 
    <div class="row">
      <div class="col" style="max-width: 140px"> <b>Faltas em Biologia:</b></div>
      <div class="col"><%= aluno.faltasBio %></div>
    </div>
  </li>

  <li class="list-group-item"> 
    <div class="row">
      <div class="col" style="max-width: 140px"> <b>Faltas em Química:</b></div>
      <div class="col"><%= aluno.faltasQuim %></div>
    </div>
  </li>

  <li class="list-group-item"> 
    <div class="row">
      <div class="col" style="max-width: 140px"> <b>Faltas em Filosofia:</b></div>
      <div class="col"><%= aluno.faltasFilo %></div>
    </div>
  </li>

  <li class="list-group-item"> 
    <div class="row">
      <div class="col" style="max-width: 140px"> <b>Faltas em <br>Física:</b></div>
      <div class="col"><%= aluno.faltasFis %></div>
    </div>
  </li>

</ul>